/* BBW WEBFONT DEFINITIONS */

@font-face {
  font-family: 'BloombergLBold';
    src: url("http://www.businessweek.com/assets/type/bloombergl_heavy.eot?#iefix") format('embedded-opentype'),
       url('http://www.businessweek.com/assets/type/bloombergl_heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family:'BWHaasHead';
  src: url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas/bwhaasgroteskhead-95black.ttf') format('truetype');

  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasHead75Bold';
  src: url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas75/bwhaasgrotesktext-75bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasRegular';
  src: url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.woff') format('woff'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgrotesktext-65medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* DRUK! */
/* Druk Medium */
@font-face {
  font-family: 'Druk Web';
  src: url('Druk-Medium-Web.eot');
  src: url('Druk-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('Druk-Medium-Web.woff') format('woff'),
     url('Druk-Medium-Web.ttf') format('truetype'),
     url('Druk-Medium-Web.svg#Druk Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
/* Druk Wide Super */
@font-face {
  font-family: 'Druk Wide Web';
  src: url('DrukWide-Super-Web.eot');
  src: url('DrukWide-Super-Web.eot?#iefix') format('embedded-opentype'),
     url('DrukWide-Super-Web.woff') format('woff'),
     url('DrukWide-Super-Web.ttf') format('truetype'),
     url('DrukWide-Super-Web.svg#Druk Wide Web') format('svg');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

/* */

body {
  background-image: url(../img/bg.png);
  background-size: 409px 409px;
}

header {
  background: white;
  border-bottom: 2px solid black;
  padding: 10px;
}

h1 {
  display: inline;
  font-family: 'BWHaasHead';
}

h1 a {
  color: black;
  text-decoration: none;
}

h2 {
  display: inline;

  font-family: 'Druk Wide Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;

  -webkit-text-stroke: 1px black;
  color: black;
   -webkit-text-fill-color: white;
}

.item {
  margin: 10px;
  float: left;
  position: relative;
  background: white;
  transition: -webkit-transform 0.2s;
  display: table;
  border: 2px solid black;
  font-family: times;
  font-size: 10pt;
  background: white;
}

.caption {
  display:table-caption;
  caption-side:bottom;
  padding: 10px;
  border: 2px solid black;
  border-top-width: 0;
  line-height: 12pt;
  background: white;
}

.hed {
  font-weight: bold;
}

.dek {
}

.credit {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #000;
  font-size: 8pt;
  line-height: 10pt;
}

/* QUOTES */

.item.quote {
  text-align: center;
  width: 250px;
  padding: 20px;
}

.quote-content {
  font-family: 'Druk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
  font-size: 24pt;
  line-height: 25pt;
  letter-spacing: .5px;
}

.quote-attribution {
  font-family: times;
  font-size: 10pt;
  line-height: 12pt;
  font-weight: bold;
  margin-top: 10px;
}

.quote-credit {
  font-family: times;
  font-size: 10pt;
  line-height: 12pt;
  font-style: italic;
}

/* POLL */

.poll, .answers, .answer {
  box-sizing: border-box;
}

.poll {
  background: white;
  border-top: 2px solid black;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.question {
  padding: 10px 10px 0 10px;
  font-weight: bold;
}

.poll.unresolved .answer div {
  cursor: pointer;
}

.poll.resolved .answer div {
}

.answer {
  display: inline-block;
  width: 50%;
  transition: width .1s linear, border-radius .1s linear, padding .1s linear;
}

.answer div {
  border: 2px solid black;
  text-transform: uppercase;
  overflow: hidden;
  transition: width .1s linear, border-radius .1s linear, padding .1s linear;
}

.poll.unresolved .answer:hover div {
  color: white;
  background: black;
}

.poll.unresolved .answer {
  padding: 5px;
}

.poll.resolved .answer {
  padding: 2px;
}

.poll.unresolved .answer div {
  padding: 5px;
}

.poll.resolved .answer div {
  padding: 8px;
}

/*.yes div {
  background: lightgreen;
}
.yes:hover div, .yes.final div {
  background: #0f0;
}

.no div {
  background: #f99;
}
.no:hover div, .no.final div {
  background: red;
}*/
