/* BBW WEBFONT DEFINITIONS */

@font-face {
  font-family: 'BloombergLBold';
    src: url("http://www.businessweek.com/assets/type/bloombergl_heavy.eot?#iefix") format('embedded-opentype'),
       url('http://www.businessweek.com/assets/type/bloombergl_heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family:'BWHaasHead';
  src: url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas/bwhaasgroteskhead-95black.ttf') format('truetype');

  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasHead75Bold';
  src: url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas75/bwhaasgrotesktext-75bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasRegular';
  src: url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.woff') format('woff'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgrotesktext-65medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* DRUK! */
/* Druk Medium */
@font-face {
  font-family: 'Druk Web';
  src: url('Druk-Medium-Web.eot');
  src: url('Druk-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('Druk-Medium-Web.woff') format('woff'),
     url('Druk-Medium-Web.ttf') format('truetype'),
     url('Druk-Medium-Web.svg#Druk Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
/* Druk Wide Super */
@font-face {
  font-family: 'Druk Wide Web';
  src: url('DrukWide-Super-Web.eot');
  src: url('DrukWide-Super-Web.eot?#iefix') format('embedded-opentype'),
     url('DrukWide-Super-Web.woff') format('woff'),
     url('DrukWide-Super-Web.ttf') format('truetype'),
     url('DrukWide-Super-Web.svg#Druk Wide Web') format('svg');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

/* */

body {

}

.item {
  margin: 10px;
  float: left;
  position: relative;
  background: white;
  transition: -webkit-transform 0.2s;
  text-align: center;
}

.wobble0:hover { -webkit-transform: rotate(6deg); }
.wobble1:hover { -webkit-transform: rotate(-3deg); }
.wobble2:hover { -webkit-transform: rotate(-9deg); }
.wobble3:hover { -webkit-transform: rotate(1deg); }
.wobble4:hover { -webkit-transform: scale(1.1); }
.wobble5:hover { -webkit-transform: scale(0.9); }
.wobble6:hover { -webkit-transform: skew(5deg,9deg); }

.num {
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 10px;

  font-family: 'Druk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
  font-size: 16pt;
}

.num0 { top: -5px; left: -5px; }
.num1 { top: -5px; right: -5px; }
.num2 { bottom: -5px; left: -5px; }
.num3 { bottom: -5px; right: -5px; }

.hed {
  font-family: times;
  font-weight: bold;
  font-size: 10pt;
  padding: 10px 10px 0 10px;
}

.dek {
  font-family: helvetica;
  font-size: 9pt;
  padding: 10px;
}

/* POLL */

.poll, .question, .answers, .answer {
  box-sizing: border-box;
}

.poll {
  text-align: center;
  font-family: helvetica;
  background: #eee;
}

.question {
}

.answers {
  transition: padding 0.1s;
}

.poll.unresolved .answers {
  padding: 2px;
}

.poll.unresolved .answer {
  border-radius: 3px;
  cursor: pointer;
}

.poll.resolved .answers {
  padding: 0;
}
.poll.resolved .answer {
  corner-radius: 0;
}

.answer {
  display: inline-block;
  width: 50%;
  transition: width 1s, border-radius 1s;

}

.yes {
  background: lightgreen;
}
.yes:hover, .yes.final {
  background: #0f0;
}

.no {
  background: #f99;
}
.no:hover, .no.final {
  background: red;
}
