/* BBW WEBFONT DEFINITIONS */

@font-face {
  font-family: 'BloombergLBold';
    src: url("../fonts/bloombergl_heavy.eot?#iefix") format('embedded-opentype'),
       url('../fonts/bloombergl_heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family:'BWHaasHead';
  src: url('../fonts/bwhaasgroteskhead-95black.eot?#iefix') format('eot'),
     url('../fonts/bwhaasgroteskhead-95black.woff') format('woff'),
     url('../fonts/bwhaasgroteskhead-95black.ttf') format('truetype');

  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasHead75Bold';
  src: url('../fonts/bwhaasgroteskhead-75bold.eot?#iefix') format('eot'),
     url('../fonts/bwhaasgroteskhead-75bold.woff') format('woff'),
     url('../fonts/bwhaasgrotesktext-75bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasRegular';
  src: url('../fonts/bwhaasgroteskhead-65medium.eot?#iefix') format('eot'),
     url('../fonts/bwhaasgroteskhead-65medium.woff') format('woff'),
     url('../fonts/bwhaasgrotesktext-65medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* DRUK! */
/* Druk Medium */
@font-face {
  font-family: 'Druk Web';
  src: url('../fonts/Druk-Medium-Web.eot');
  src: url('../fonts/Druk-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Druk-Medium-Web.woff') format('woff'),
     url('../fonts/Druk-Medium-Web.ttf') format('truetype'),
     url('../fonts/Druk-Medium-Web.svg#Druk Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
/* Druk Wide Super */
@font-face {
  font-family: 'Druk Wide Web';
  src: url('../fonts/DrukWide-Super-Web.eot');
  src: url('../fonts/DrukWide-Super-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/DrukWide-Super-Web.woff') format('woff'),
     url('../fonts/DrukWide-Super-Web.ttf') format('truetype'),
     url('../fonts/DrukWide-Super-Web.svg#Druk Wide Web') format('svg');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

/* HEADER */

body {
  background-image: url(../img/bg_large.png);
  background-size: 409px 409px;
}

header {
  background: white;
  border-bottom: 2px solid black;
  padding: 10px;
}

h1 {
  display: inline-block;
  margin: 5px 0;
  font-family: 'BWHaasHead';
  font-size: 2em;
  line-height: 0.8em;
}

h1 a {
  color: black;
  text-decoration: none;
}

#header-social {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-top: -2px;
}

#header-social .social{
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  transition: transform .2s;
}

#header-social .social:hover {
  transform: rotate(10deg);
}

#header-social a {
  display: inline-block;
}

.progressive-loading-indicator {
  clear: both;
  width: 100%;
}
.progressive-loading-indicator div {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  background: white;
  border-radius: 25px;
  text-align: center;
}

footer {
  border-top: 2px solid black;
  font-family: times;
  background: white;
  padding: 20px 10px;
  font-size: 10pt;
}

/* ADS */

.ad-wrapper {
  height: 90px;
  /*background: white;*/
  /*border-bottom: 2px solid black;*/
  padding: 10px;

  /*background-image: url(../img/ad.png);*/
  background-size: 50px 50px;
}

.ad-div {
  width: 728px;
  margin: 0 auto;
}

/* HEADLINE */

.item.headline {
  background: none;
  border: 0;
  width: 550px;
  height: 600px;
}

.headline img {
  transition: transform .2s;
}

.headline .figurehead {
  position: absolute;
  width: 200px;
  top: -50px;
}

.headline .figurehead:hover {
  transform: rotate(-4deg);
}

.headline .title {
  position: absolute;
  width: 378px;
  top: 50px;
  left: 150px;
  transform: rotate(14deg);
}

.headline .title:hover {
  transform: rotate(10deg);
}

.headline .subtitle {
  position: absolute;
  width: 412px;
  left: 150px;
  top: 325px;
  transform: rotate(-14deg);
}

.headline .subtitle:hover {
  transform: rotate(-16deg);
}

/* STUFF */

#container {
  margin: 10px;
}

.item {
  margin: 0 10px 10px 0;
  box-sizing: border-box;
  max-width: 100%;
  float: left;
  position: relative;
  background: white;
  transition: -webkit-transform 0.2s;
  border: 2px solid black;
  font-family: times;
  font-size: 10pt;
  background: white;
  display: inline-block;
}

.item .item-img {
  width: 100%;
  border-bottom: 2px solid black;
}

.caption {
  padding: 10px;
  border-top-width: 0;
  line-height: 12pt;
  background: white;
}

.sticker {
  position: absolute;
  top: -60px;
  left: -60px;
  width: 150px;
  height: 150px;
  background-size: contain;
}

.brand .sticker {
  background-image: url(../img/stickers/brand.png);
}

.guide .sticker {
  background-image: url(../img/stickers/guide.png);
}

.hed {
  font-weight: bold;
}

.dek {
}

.credit {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #000;
  font-size: 8pt;
  line-height: 10pt;
}

.permalink {
  color: #ccc;
}
.permalink:hover {
  color: #000;
}

/* QUOTES */

.item.quote {
  text-align: center;
  width: 250px;
  padding: 20px;
}

.quote-content {
  font-family: 'Druk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
  font-size: 24pt;
  line-height: 25pt;
  letter-spacing: .5px;
}

.quote-attribution {
  font-family: times;
  font-size: 10pt;
  line-height: 12pt;
  font-weight: bold;
  margin-top: 10px;
}

.quote-credit {
  font-family: times;
  font-size: 10pt;
  line-height: 12pt;
  font-style: italic;
}

/* POLL */

.poll, .answers, .answer {
  box-sizing: border-box;
}

.poll {
  background: white;
  border-top: 2px solid black;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.question {
  padding: 10px;
  font-weight: bold;
}

.poll.unresolved .answer-inner {
  cursor: pointer;
}

.answer {
  display: inline-block;
  position: relative;
  width: 50%;
  transition: width .1s linear, border-radius .1s linear, padding .1s linear;
}

.answer-inner {
  border: 2px solid black;
  text-transform: uppercase;
  overflow: hidden;
  transition: width .1s linear, border-radius .1s linear, padding .1s linear;
}

.poll.unresolved .answer:hover .answer-inner, .poll.resolved .answer.selected .answer-inner {
  color: white;
  background: black;
}

.answer .percentage {
  font-weight: normal;
}

.answer-inner {
  padding: 5px;
}

.yes {
  padding-right: 2px;
}

.no {
  padding-left: 2px;
}

.progress {
  display: none;
}

.tweet{
  background: none;
  position: absolute;
  left: 50%;
  bottom: 110%;
  transform: translate(-50%,0);
  display: none;
}
.tweet a {
  background: none;
  color: inherit;
}
.tweet:hover {
  background: none;
  cursor: pointer;
}
.tweet:hover a {
  background: none;
  color: white;
}

.tweet img {
  transition: transform .2s;
  width: 50px;
  height: 50px;
}

.tweet:hover img {
  transform: rotate(10deg);
}

/* RESPONSIVENESS */

@media (max-width: 894px) {
  .ad-wrapper {
    display: none;
  }
}

@media (max-width: 600px) {
  #header-social {
    display: none;
  }
}

@media (max-width: 600px) {
  #header-social {
    display: none;
  }

  .headline {
    overflow: hidden;
  }
}
