<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon" type="image/png" />

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/h5bp.css">
  <link rel="stylesheet" href="css/bbw.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>

  <div id="container"></div>

  <script type="text/html" id="template-item">
  <div class="item <%= item.type %>">
    <div class="num num1"><%= index %></div>
    <img src="<%= item.img %>">
    <div class="caption">
      <div class="hed"><%= item.hed %></div>
      <div class="dek"><%= item.dek %></div>
      <div class="credit"><%= item.credit %></div>
    </div>
    <% if(item.type == 'poll') { %>

    <% } %>
  </div>
  </script>

  <script type="text/html" id="template-poll">
  <div class="poll unresolved">
    <div class="question">Could you wear this?</div>
    <div class="answers">
      <div class="answer yes">Yes</div><div class="answer no">No</div>
    </div>
  </div>
  </script>

  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/vendor/d3.min.js"></script>
  <script src="js/vendor/masonry.pkgd.min.js"></script>
  <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
